*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #111;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #fff;
    font-size: 70px;
}

.changing-text{
    color: rgb(126, 126, 14);
}